if image.kind == 'pass'
    - imageItemClass = 'image-card-pass'
  else
    - imageItemClass = 'image-card-fail'
  figure(id='#{image.id}', class='image-card #{imageItemClass}')
    .image-card-front.js-flip-card
      .flip-card-overlay
        span.icon.icon-refresh
      img.image-thumbnail(src='' data-src='#{image.thumbnailUrl}' data-original='#{image.imageUrl}' alt='')
      if !deleted
        .image-settings
          if image.kind == 'pass'
            .image-setting.set-pass
              button(disabled='disabled').button-icon.is-pass: span.icon.icon-like2
            .image-setting.set-fail
              button.button-icon.is-fail.js-change-image-kind: span.icon.icon-like2.icon-rotate-180
          if image.kind == 'fail'
            .image-setting.set-pass
              button.button-icon.is-pass.js-change-image-kind: span.icon.icon-like2
            .image-setting.set-fail
              button(disabled='disabled').button-icon.is-fail: span.icon.icon-like2.icon-rotate-180
    .image-card-back
      ul.image-metadata
        li
          a(href='#{image.imageUrl}') #{image.imageUrl}
        li #{image.addedBy}
        li #{image.added}
        li
          button.button-link.js-delete-image Delete this image
        li
          button.button-link.js-flip-card Flip card over
