nav.app-navigation(role='navigation')

  .navigation-top
    .navigation-logo
      include ../images/logo-white.svg
    .navigation-mascot
      include ../images/flubr-mascot-nav.svg

  ul.navigation-links
    li.nav-user
      .nav-link
        img.nav-icon.nav-avatar(src='#{user.avatar}', alt='avatar image')
        span.nav-text(title=user.displayName)=user.userName
    each item in navigation
      - var activeClass = pageName === item.href ? 'nav-active' : ''
      li(class='nav-#{item.href} #{activeClass}')
        a.nav-link(href='/#{item.href}', title='#{item.title}')
          span.nav-icon.icon(class=' icon-#{item.icon}')
          span.nav-text= item.title