nav.app-navigation(role='navigation')

  .logo
    | Flubr

  .logged-in-user
    img.avatar(src='#{user.avatar}')
    span(title=user.displayName)=user.userName

  ul.navigation-links
    each linkHref, linkTitle in navigation
      if pageName === linkHref
        li(class='nav-#{linkHref} active')
          a(href='/#{linkHref}', title=linkTitle)= linkTitle
      else
        li(class='nav-#{linkHref}')
          a(href=linkHref, title=linkTitle)= linkTitle
