extends application

block page

  h2 Flubr version:
    span#app-version

  if totalImageCount > 0

    h2 Image type distribution (#{totalImageCount} total images)

    .image-stats-graph
      span.image-stats-bar.image-stats-pass#js-image-stats-pass(style=`width: ${passImagePercentage}%`)
        | Pass (#{passImageCount})
      span.image-stats-bar.image-stats-fail#js-image-stats-fail(style=`width: ${failImagePercentage}%`)
        | Fail (#{failImageCount})

  else

    include partials/noImages
