extends application

block page

  table
    each user in userList
      tr
        td
          img.avatar(src='#{user.avatar}', alt='avatar image')
        td= user.name
        td= user.twitterHandle
        td= user.dateAdded
        td
          button(id='#{user.userid}') Delete user