extends application

block page

  form.add-new-user#js-add-user
    .inputAddOn
      input.inputAddOn-field(id='username', type='text', placeholder='Enter Twitter username to add new user')
      button.inputAddOn-item(type='submit') Add User

  table.user-table
    columns
      col.col-avatar
      col.col-name
      col.col-username
      col.col-dateAdded
      col.col-deleteUser
    thead
      tr
        th &nbsp;
        th Name
        th Username
        th Date added
        th &nbsp;
    each user in userList
      tr
        td
          img.avatar(src='#{user.avatar}', alt='avatar image')
        td= user.name
        td= user.twitterHandle
        td= user.dateAdded
        td.align-right
          button.button-delete.js-delete-user(id='#{user.id}') Delete user